<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="Simple.Data.Informix.Tests.Properties.Settings.ConnectionString_V7"
      connectionString="Server=...; Database=...; User ID=...; Password=..."
      providerName="IBM.Data.Informix" />
    <add name="Simple.Data.Informix.Tests.Properties.Settings.ConnectionString_V11"
      connectionString="Server=...; Database=...; User ID=...; Password=..."
      providerName="IBM.Data.Informix" />
  </connectionStrings>
</configuration>
